<table>
<tr>
    <th>頭文字</th>
    <td>
        {% for kanaPrefixHeader in kanaPrefix %}
            <a href='#' class=''> { { kanaPrefix } } 行&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        {% endfor %}
    </td>
</tr>
</table>