#content {
  background: #fff;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid black;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a.disabled {
  color: currentColor;
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: none;
}